## Loading Datasets

In [1]:
import pandas as pd

In [1]:
import numpy as np

In [3]:
# Loading the Plant 1 dataset
plant1_gen = pd.read_csv("Plant_1_Generation_Data.csv")
plant1_sensor = pd.read_csv("Plant_1_Weather_Sensor_Data.csv")

In [4]:
# Loading the Plant 2 dataset
plant2_gen = pd.read_csv("Plant_2_Generation_Data.csv")
plant2_sensor = pd.read_csv("Plant_2_Weather_Sensor_Data.csv")

In [5]:
# Generation Dataset View
plant1_gen.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

In [6]:
plant2_gen.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,2020-05-15 00:00:00,4136001,4UPUqMRk7TRMgml,0.0,0.0,9425.000000,2.429011e+06
1,2020-05-15 00:00:00,4136001,81aHJ1q11NBPMrL,0.0,0.0,0.000000,1.215279e+09
2,2020-05-15 00:00:00,4136001,9kRcWv60rDACzjR,0.0,0.0,3075.333333,2.247720e+09
3,2020-05-15 00:00:00,4136001,Et9kgGMDl729KT4,0.0,0.0,269.933333,1.704250e+06
4,2020-05-15 00:00:00,4136001,IQ2d7wF4YD8zU1Q,0.0,0.0,3177.000000,1.994153e+07

In [7]:
# Weather Data View
plant1_sensor.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0

In [8]:
plant2_sensor.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4136001,iq8k7ZNt4Mwm3w0,27.004764,25.060789,0.0
1,2020-05-15 00:15:00,4136001,iq8k7ZNt4Mwm3w0,26.880811,24.421869,0.0
2,2020-05-15 00:30:00,4136001,iq8k7ZNt4Mwm3w0,26.682055,24.427290,0.0
3,2020-05-15 00:45:00,4136001,iq8k7ZNt4Mwm3w0,26.500589,24.420678,0.0
4,2020-05-15 01:00:00,4136001,iq8k7ZNt4Mwm3w0,26.596148,25.088210,0.0

## Know Your Data

### Dataset Row and Column Count

**Rows and column count for Palnt 1 Generation data**

In [9]:
print(f"Number of Rows: {plant1_gen.shape[0]}")
print(f"Number of Columns: {plant1_gen.shape[1]}")

Number of Rows: 68778
Number of Columns: 7

**Rows and column count for Palnt 2 Generation data**

In [10]:
print(f"Number of Rows: {plant2_gen.shape[0]}")
print(f"Number of Columns: {plant2_gen.shape[1]}")

Number of Rows: 67698
Number of Columns: 7

**Rows and column count for Plant 1 Weather Sensor Data**

In [11]:
print(f"Number of Rows: {plant1_sensor.shape[0]}")
print(f"Number of columns: {plant1_sensor.shape[1]}")

Number of Rows: 3182
Number of columns: 6

**Rows and column count for Plant 2 Weather Sensor Data**

In [12]:
print(f"Number of Rows: {plant2_sensor.shape[0]}")
print(f"Number of columns: {plant2_sensor.shape[1]}")

Number of Rows: 3259
Number of columns: 6

## Variable Description

In [13]:
plant1_gen.describe()

        PLANT_ID      DC_POWER      AC_POWER   DAILY_YIELD   TOTAL_YIELD
count    68778.0  68778.000000  68778.000000  68778.000000  6.877800e+04
mean   4135001.0   3147.426211    307.802752   3295.968737  6.978712e+06
std          0.0   4036.457169    394.396439   3145.178309  4.162720e+05
min    4135001.0      0.000000      0.000000      0.000000  6.183645e+06
25%    4135001.0      0.000000      0.000000      0.000000  6.512003e+06
50%    4135001.0    429.000000     41.493750   2658.714286  7.146685e+06
75%    4135001.0   6366.964286    623.618750   6274.000000  7.268706e+06
max    4135001.0  14471.125000   1410.950000   9163.000000  7.846821e+06

Here we can see that maximum **DC_POWER** generated is **14471.125W**. Hence we can assume that the panel rating is **14kW** or **14000W**.

In [14]:
plant2_gen.describe()

        PLANT_ID      DC_POWER      AC_POWER   DAILY_YIELD   TOTAL_YIELD
count    67698.0  67698.000000  67698.000000  67698.000000  6.769800e+04
mean   4136001.0    246.701961    241.277825   3294.890295  6.589448e+08
std          0.0    370.569597    362.112118   2919.448386  7.296678e+08
min    4136001.0      0.000000      0.000000      0.000000  0.000000e+00
25%    4136001.0      0.000000      0.000000    272.750000  1.996494e+07
50%    4136001.0      0.000000      0.000000   2911.000000  2.826276e+08
75%    4136001.0    446.591667    438.215000   5534.000000  1.348495e+09
max    4136001.0   1420.933333   1385.420000   9873.000000  2.247916e+09

Here we can see that maximum **DC_POWER** generated is **1420.933W**. Hence we can assume that the panel rating is **1.4kW** or **1400W**.

In [15]:
plant1_sensor.describe()

        PLANT_ID  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
count     3182.0          3182.000000         3182.000000  3182.000000
mean   4135001.0            25.531606           31.091015     0.228313
std          0.0             3.354856           12.261222     0.300836
min    4135001.0            20.398505           18.140415     0.000000
25%    4135001.0            22.705182           21.090553     0.000000
50%    4135001.0            24.613814           24.618060     0.024653
75%    4135001.0            27.920532           41.307840     0.449588
max    4135001.0            35.252486           65.545714     1.221652

In [16]:
plant2_sensor.describe()

        PLANT_ID  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
count     3259.0          3259.000000         3259.000000  3259.000000
mean   4136001.0            28.069400           32.772408     0.232737
std          0.0             4.061556           11.344034     0.312693
min    4136001.0            20.942385           20.265123     0.000000
25%    4136001.0            24.602135           23.716881     0.000000
50%    4136001.0            26.981263           27.534606     0.019040
75%    4136001.0            31.056757           40.480653     0.438717
max    4136001.0            39.181638           66.635953     1.098766

In [17]:
# Dataset Info
plant1_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

In [18]:
plant2_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67698 entries, 0 to 67697
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    67698 non-null  object
 1   PLANT_ID     67698 non-null  int64
 2   SOURCE_KEY   67698 non-null  object
 3   DC_POWER     67698 non-null  float64
 4   AC_POWER     67698 non-null  float64
 5   DAILY_YIELD  67698 non-null  float64
 6   TOTAL_YIELD  67698 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.6+ MB

**IRRADIATION** is in **uW/m2**. Maximum IRRADIATION is **1.221652uW/m2** Or **1221.65W/m2**.

In [19]:
# Check duplicates on datasets
plant1_gen.duplicated().sum()

np.int64(0)

In [20]:
plant2_gen.duplicated().sum()

np.int64(0)

In [21]:
def unique_vals(x):
    for cols in x.columns:
        print(f"{cols}")
        print(f"\n{x[cols].unique()}")

In [22]:
unique_vals(plant1_gen)

DATE_TIME

['15-05-2020 00:00' '15-05-2020 00:15' '15-05-2020 00:30' ...
 '17-06-2020 23:15' '17-06-2020 23:30' '17-06-2020 23:45']
PLANT_ID

[4135001]
SOURCE_KEY

['1BY6WEcLGh8j5v7' '1IF53ai7Xc0U56Y' '3PZuoBAID5Wc2HD' '7JYdWkrLSPkdwr4'
 'McdE0feGgRqW7Ca' 'VHMLBKoKgIrUVDU' 'WRmjgnKYAwPKWDb' 'ZnxXDlPa8U1GXgE'
 'ZoEaEvLYb1n2sOq' 'adLQvlD726eNBSB' 'bvBOhCH3iADSZry' 'iCRJl6heRkivqQ3'
 'ih0vzX44oOqAx2f' 'pkci93gMrogZuBj' 'rGa61gmuvPhdLxV' 'sjndEbLyjtCKgGv'
 'uHbuxQJl8lW7ozc' 'wCURE6d3bPkepu2' 'z9Y9gH1T5YWrNuG' 'zBIq5rxdHJRwDNY'
 'zVJPv84UY57bAof' 'YxYtjZvoooNbGkE']
DC_POWER

[  0.          37.14285714  53.5        ... 340.25        76.
  74.85714286]
AC_POWER

[0.         3.58571429 5.1625     ... 7.32857143 7.28571429 7.42857143]
DAILY_YIELD

[0.00000000e+00 2.62500000e+00 3.00000000e+00 ... 5.81700000e+03
 5.23714286e+03 5.14762500e+03]
TOTAL_YIELD

[6259559. 6183645. 6987759. ... 7251204. 6583369. 7363272.]

In [23]:
unique_vals(plant2_gen)

DATE_TIME

['2020-05-15 00:00:00' '2020-05-15 00:15:00' '2020-05-15 00:30:00' ...
 '2020-06-17 23:15:00' '2020-06-17 23:30:00' '2020-06-17 23:45:00']
PLANT_ID

[4136001]
SOURCE_KEY

['4UPUqMRk7TRMgml' '81aHJ1q11NBPMrL' '9kRcWv60rDACzjR' 'Et9kgGMDl729KT4'
 'IQ2d7wF4YD8zU1Q' 'LYwnQax7tkwH5Cb' 'LlT2YUhhzqhg5Sw' 'Mx2yZCDsyf6DPfv'
 'NgDl19wMapZy17u' 'PeE6FRyGXUgsRhN' 'Qf4GUc1pJu5T6c6' 'Quc1TzYxW2pYoWX'
 'V94E5Ben1TlhnDV' 'WcxssY2VbP4hApt' 'mqwcsP2rE7J0TFp' 'oZ35aAeoifZaQzV'
 'oZZkBaNadn6DNKz' 'q49J1IKaHRwDQnt' 'rrq4fwE8jgrTyWY' 'vOuJvMaM2sgwLmb'
 'xMbIugepa2P7lBB' 'xoJJ8DcxJEcupym']
DC_POWER

[ 0.         15.40666667 14.77333333 ...  3.78        3.58
  3.90714286]
AC_POWER

[ 0.         14.86       14.24666667 ...  3.63333333  3.45333333
  3.75714286]
DAILY_YIELD

[9425.            0.         3075.33333333 ... 4218.         4316.
 4128.42857143]
TOTAL_YIELD

[2.42901100e+06 1.21527874e+09 2.24771958e+09 ... 1.06896394e+08
 2.09335741e+08 2.46395964e+06]

In [24]:
unique_vals(plant1_sensor)

DATE_TIME

['2020-05-15 00:00:00' '2020-05-15 00:15:00' '2020-05-15 00:30:00' ...
 '2020-06-17 23:15:00' '2020-06-17 23:30:00' '2020-06-17 23:45:00']
PLANT_ID

[4135001]
SOURCE_KEY

['HmiyD2TTLFNqkNe']
AMBIENT_TEMPERATURE

[25.18431613 25.08458867 24.9357526  ... 22.00827464 21.96949473
 21.90928767]
MODULE_TEMPERATURE

[22.8575074  22.76166787 22.59230553 ... 20.70921136 20.7349628
 20.4279724 ]
IRRADIATION

[0.00000000e+00 8.62721241e-04 5.88695719e-03 ... 2.34457015e-02
 7.00688981e-03 3.90831153e-05]

In [25]:
unique_vals(plant2_sensor)

DATE_TIME

['2020-05-15 00:00:00' '2020-05-15 00:15:00' '2020-05-15 00:30:00' ...
 '2020-06-17 23:15:00' '2020-06-17 23:30:00' '2020-06-17 23:45:00']
PLANT_ID

[4136001]
SOURCE_KEY

['iq8k7ZNt4Mwm3w0']
AMBIENT_TEMPERATURE

[27.0047637  26.88081143 26.68205534 ... 23.35474259 23.29104823
 23.20287069]
MODULE_TEMPERATURE

[25.0607889  24.42186883 24.42729031 ... 22.49224531 22.37390857
 22.53590766]
IRRADIATION

[0.         0.00283805 0.01296198 ... 0.02214994 0.01339319 0.002635  ]

In [26]:
# Investigating dataset column datatypes
def data_check(x):
    for col in x.columns:
        print(f"\n{col}")
        print(f"{x[col].dtype}")

In [27]:
data_check(plant1_gen)

DATE_TIME
object

PLANT_ID
int64

SOURCE_KEY
object

DC_POWER
float64

AC_POWER
float64

DAILY_YIELD
float64

TOTAL_YIELD
float64

In [28]:
data_check(plant2_gen)

DATE_TIME
object

PLANT_ID
int64

SOURCE_KEY
object

DC_POWER
float64

AC_POWER
float64

DAILY_YIELD
float64

TOTAL_YIELD
float64

In [29]:
data_check(plant1_sensor)

DATE_TIME
object

PLANT_ID
int64

SOURCE_KEY
object

AMBIENT_TEMPERATURE
float64

MODULE_TEMPERATURE
float64

IRRADIATION
float64

In [30]:
data_check(plant2_sensor)

DATE_TIME
object

PLANT_ID
int64

SOURCE_KEY
object

AMBIENT_TEMPERATURE
float64

MODULE_TEMPERATURE
float64

IRRADIATION
float64

In [31]:
## Convert DATE_TIME object to Datetime format
def datetime_format(x):
    y = pd.to_datetime(
        x,
        format = "mixed",
        dayfirst=True
    )
    return y

In [32]:
plant1_gen['DATE_TIME'] = plant1_gen['DATE_TIME'].apply(datetime_format)

In [33]:
plant2_gen['DATE_TIME'] = plant2_gen['DATE_TIME'].apply(datetime_format)

In [34]:
plant1_sensor['DATE_TIME'] = plant1_sensor['DATE_TIME'].apply(datetime_format)

In [35]:
plant2_sensor['DATE_TIME'] = plant2_sensor['DATE_TIME'].apply(datetime_format)

In [36]:
# Merging Datasets with respect to their weather data
# plant 1 generation data with plant 1 waether data
merged_plant_1 = plant1_gen.merge(
    plant1_sensor,
    on='DATE_TIME',
    how='left',
    validate='many_to_one'
)

# plant 2 generation data with plant 2 sensor data
merged_plant_2 = plant2_gen.merge(
    plant2_sensor,
    on='DATE_TIME',
    how='left',
    validate='many_to_one'
)

In [37]:
merged_plant_1.head()

,DATE_TIME,PLANT_ID_x,SOURCE_KEY_x,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,PLANT_ID_y,SOURCE_KEY_y,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2,2020-05-15,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
3,2020-05-15,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
4,2020-05-15,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0,4135001.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0

In [38]:
# Converting IRRADIATION uW/m2 to W/m2
merged_plant_1['IRRADIATION_WATT/M2'] = merged_plant_1['IRRADIATION']*1000
merged_plant_2['IRRADIATION_WATT/M2'] = merged_plant_2['IRRADIATION']*1000

In [39]:
# Categorise irradiation (High,Medium,Low,No IR)
def irradiance_cat(x):
    if (x > 20) & (x <= 100):
        return("Low")
    elif (x > 100) & (x <= 700):
        return("Medium")
    elif (x > 700):
        return("High")
    else:
        return("No IR")

In [40]:
merged_plant_1['IR_CAT'] = merged_plant_1['IRRADIATION_WATT/M2'].apply(irradiance_cat)
merged_plant_2['IR_CAT'] = merged_plant_2['IRRADIATION_WATT/M2'].apply(irradiance_cat)

In [41]:
# Deleting irrelevant columns
merged_plant_1 = merged_plant_1.drop(columns=['PLANT_ID_x','PLANT_ID_y','SOURCE_KEY_y'],axis=1)
merged_plant_2 = merged_plant_2.drop(columns=['PLANT_ID_x','PLANT_ID_y','SOURCE_KEY_y'],axis=1)

In [42]:
# Renaming Source_Key_x to panel_key
merged_plant_1 = merged_plant_1.rename(columns={'SOURCE_KEY_x':'PANEL_KEY'})
merged_plant_2 = merged_plant_2.rename(columns={'SOURCE_KEY_x':'PANEL_KEY'})

In [43]:
# Adding Plant_Number Column
merged_plant_1['PLANT_NUMBER'] = "PLANT 1"
merged_plant_2['PLANT_NUMBER'] = "PLANT 2"

In [44]:
# extracting time of the day
def time_of_day(x):
    hour = x.hour  
    
    if 0 <= hour < 4: return 'Late Night'
    elif 4 <= hour < 8: return 'Early Morning'
    elif 8 <= hour < 12: return 'Morning'
    elif 12 <= hour < 16: return 'Afternoon'
    elif 16 <= hour < 20: return 'Evening'
    else: return 'Night'

In [45]:
merged_plant_1['TIME_OF_DAY'] = merged_plant_1['DATE_TIME'].apply(time_of_day)
merged_plant_2['TIME_OF_DAY'] = merged_plant_2['DATE_TIME'].apply(time_of_day)

First plant assumed panel capacity is **15000 Watts** Second plant assumed panel capacity is **1500 Watts**

In [46]:
# Expected DC column for Plant 1
CAPACITY_1 = 15000
merged_plant_1['EXP_DC'] = CAPACITY_1*(merged_plant_1['IRRADIATION_WATT/M2']/1000)*(1+(-0.004)*(merged_plant_1['MODULE_TEMPERATURE']-25))

In [47]:
# Expected DC column for Plant 2
CAPACITY_2 = 1500
merged_plant_2['EXP_DC'] = CAPACITY_2*(merged_plant_2['IRRADIATION_WATT/M2']/1000)*(1+(-0.004)*(merged_plant_2['MODULE_TEMPERATURE']-25))

In [48]:
merged_plant_1['PANEL_EFFICIENCY'] = np.where(
    merged_plant_1['EXP_DC'] > 0,
    merged_plant_1['DC_POWER']/merged_plant_1['EXP_DC'],
    np.nan
)

In [49]:
merged_plant_2['PANEL_EFFICIENCY'] = np.where(
    merged_plant_2['EXP_DC'] > 0,
    merged_plant_2['DC_POWER']/merged_plant_2['EXP_DC'],
    np.nan
)

In [50]:
def panel_status(x):
    if np.isnan(x) or np.isinf(x):
        return "Not Measured"
    
    if x > 1.05:
        return "Over-Performing"
    elif x >= 0.95:  # Covers everything from 0.95 to 1.05
        return "Optimal"
    elif x >= 0.74:  # Covers everything from 0.74 to 0.949
        return "Under-Performing"
    elif x >= 0.50:  # Covers everything from 0.50 to 0.739
        return "Failing"
    else:            # Covers everything below 0.50
        return "Critical"

In [51]:
merged_plant_1['PANEL_STATUS'] = merged_plant_1['PANEL_EFFICIENCY'].apply(panel_status)
merged_plant_2['PANEL_STATUS'] = merged_plant_2['PANEL_EFFICIENCY'].apply(panel_status)

In [52]:
# Concatenating Datasets
merged = pd.concat([merged_plant_1,merged_plant_2],axis=0)

In [2]:
# CSV file output
merged.to_csv("merged.csv")

NameError: name 'merged' is not defined